{% assign baseUrl = site.url %}<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <title>{{ page.title }}</title>

    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Montserrat:100,200,300,400" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{baseUrl}}assets/css/style.css?_={{ site.time | date: '%s' }}">
</head>
<body>

<header>
    <div class="top">
        <a href="{{baseUrl}}" class="logo">
        </a>
    </div>
    <nav>
        <ul class="nav navbar-nav">
            {% for menu in site.data.menus %}
            <li>
                <a href="{{baseUrl}}{{menu.url}}">{{menu.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>

<div class="main {{page.additionalclass}}">
    <section class="inverse">
        {{content}}
    </section>
</div>

<section style="margin: 20px">
    <h4> CODE OF CONDUCT </h4>
    Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender,
    race, religion, etc.. We do not tolerate harassment of conference participants in any form. Sexual language and
    imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online
    media. Conference participants violating these rules may be sanctioned or expelled from the conference without
    recompense at the discretion of the conference organisers. <a href="CoC.html">See the full version here</a>.
</section>

<footer class="footer">
    <div>&copy; OWASP AppSec Israel 2017</div>
</footer>

</body>
</html>
